.git
.github
.vscode
.idea
.DS_Store
*.log
.run
llm_document_raspi_only.md

node_modules
dist
tmp

*.env
*.env.*
!*.env.example
!**/.env.example

bonsAI_front/node_modules
bonsAI_front/dist

bonsAI_server/tmp

bonsAI_LLM/models
bonsAI_LLM/vendor
bonsAI_LLM/build
