.DS_Store
*.log

.env
.env.*
!.env.example
!**/.env.example

node_modules/
dist/
tmp/
.run/

bonsAI_front/node_modules/
bonsAI_front/dist/
bonsAI_front/.vite/

bonsAI_server/tmp/

bonsAI_LLM/models/
bonsAI_LLM/vendor/
bonsAI_LLM/build/
sintyoku.md
